<h1>Restaurants#show</h1>
<p>Find me in app/views/restaurants/show.html.erb</p>

  <h3><%= "#{@restaurant.name} | #{@restaurant.category.upcase}" %></h3>
  <ul>
    <li>
      <%="Address: #{@restaurant.address}" %>
    </li>
    <li>
      <%="Number: #{@restaurant.phone_number}" %>
    </li>
  </ul>

<%= link_to "Back to Home Page", restaurants_path %>
